<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              calsans: ["Cal Sans", "system-ui", "sans-serif"],
              lexend: ["Lexend", "system-ui", "sans-serif"],
            },
          },
        },
      };
    </script>

    <!-- Icon sets -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />

    <title>League Overview - DraftQueen</title>
    <meta name="color-scheme" content="light only" />
  </head>

  <body
    class="min-h-screen text-white font-lexend"
    style="background: linear-gradient(180deg, #390014 0%, #110006 30%)"
  >
    <select class="select text-white bg-black">
      <option disabled selected>Pick a color</option>
      <option>You</option>
      <option>Jordan</option>
      <option>Alex</option>
    </select>
  </body>
</html>
