@import "tailwindcss";
@theme {
  --font-lexend: "Lexend", sans-serif; 
  --font-calsans: "Cal Sans", sans-serif; 
}
@plugin "daisyui" {
  themes: bumblebee, cmyk, cupcake, dracula, abyss, acid, dim, night, silk, nord, light, lemonade;
}